@value globalValues: "../../../assets/scss/globalValues.module.scss";

@value accentColorLight1, accentColorLight2, accentColorLight3 from globalValues;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  > * {
    margin-bottom: 0;
  }
}

.container {
  position: relative;
  display: flex;
}

.container_mobile {
  position: static;
  flex-flow: column nowrap;
  align-items: center;

  .images {
    position: static;
    width: 100%;
    margin-right: 0;

    &:not(:empty) {
      padding-bottom: 20px;
    }
  }

  .image_sm {
    &:nth-child(3), &:nth-child(4) {
      display: none;
    }
  }

  .image_lg {
    display: block;
    max-width: 200px;
  }

  .data {
    width: 100%;
  }
}

.images {
  flex-shrink: 0;
  position: sticky;
  top: 20px;
  max-width: 500px;
  max-height: 70vh;
  margin-right: 50px;
  background: #fff;
}

.images_sm {
  display: flex;
  justify-content: center;
}

.image_lg, .image_sm {
  object-fit: contain;
}

.image_lg {
  width: 100%;
  margin-inline: auto;
}

.image_sm {
  width: 100px;

  &:not(:first-child) {
    margin-left: 15px;
  }
}

.data {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px accentColorLight2;
}

.data_item {
  display: flex;

  &:not(:first-child) {
    border-top: 1px solid accentColorLight3;
  }

  &:last-child {
    flex-grow: 1;
  }

  > * {
    padding: 8px;
  }
}

.data_item_description {
  flex-shrink: 0;
  width: 100px;
  text-align: end;
  font-weight: bold;
  background: accentColorLight2;
}

.data_item_content {
  flex-grow: 1;
  background: accentColorLight1;
  text-transform: capitalize;
}

ul.data_item_list {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 8px;

  li {
    list-style: square inside;
    text-transform: capitalize;
  }
}